.page--no-sidebar {
  #main {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  .page__inner-wrap {
    margin-left: 0 !important;
    padding-left: 0 !important;
    max-width: 100% !important;
  }
}
